@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-beige font-sans text-brown antialiased;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  :focus-visible {
    outline: 3px solid currentColor;
    outline-offset: 3px;
  }
}
